{% extends 'layout.html' %}

{% block head %}
    <title>
        Access Denied
    </title>
{% endblock %}

{% block content1 %}
    <button class="btn_access_denied"><a href="url_for('login')" class="text_access_denied">Please Login</a></button>
{% endblock %}