{% extends 'layout.html' %}

{% block head %}
    <title>
        Logged Out {{ session['username'] }}
    </title>
{% endblock %}

{% block content1 %}
    <div>
        <h1>{{ session['username'] }} you have logged out</h1>
    </div>
    <div>
        <button>
            <a href="{{ '/home/' }}">Login</a>
        </button>
    </div>
{% endblock %}