{% extends 'layout.html' %}

{% block head %}
    <title>
        messages
    </title>
{% endblock %}

{% block content1 %}
    <div class="user_messages_wrapper">
        <div class="chat_all_messages_container">All Messages Container
            <!--
            <div>All Messages Title</div>
            <div>Search</div>
            -->
        </div>

        <div class="chat_friends_container">Friends Container
            <!--
            <div>Friends Title</div>
            <div>List of Friends + Msgs</div>
            -->
        </div>

        <div class="chat_messages_container">Chat Container
            <!--
            <div>Chat Message w/ selected friend(s)</div>
            -->
        </div>

        <div class="chat_message_input_container">Chat Input Container
            <!--
            <div>Chat Input</div>
            <div>Send Msg Button</div>
            -->
        </div>
    </div>
{% endblock %} 