{% extends 'layout.html' %}

{% block head %}
    <title>
        Welcome {{ session['username'] }}
    </title>
{% endblock %}

{% block content1 %}
    <div>
        <form method="POST">
        {{ form.csrf_token }}
        <fieldset>
        <h2>Home page for {{ session['username'] }}</h2>

        <div>
            <button><a href="{{url_for('messages')}}">Messages</a></button>
            <p>
        </div>
        
        <div>
            <table class="tableborder">
                <tr>
                    <th colspan="100%">Details</th>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>{{ session['username'] }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>something2</td>
                    <td>{{ form.first_name }}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>something3</td>
                    <td>{{ form.last_name }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>something4</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>something5</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <div>
                <!--
                    move buttons to right of table
                -->
                {{ form.save_changes }}
                {{ form.clear_changes }}
            </div>
        </div>
        
        <div style="background-color:lightblue">
            <p>
                >>>>change to user settings page in the future<<<<
            </p>
        </div>
        
        <ul>
            <li>user logged in?</li>
                <!--
                {% if not session.logged_in %}
                    <a href="{{ url_for('welcome') }}">log in</a>
                {% else %}
                    <a href="{{ url_for('logout') }}">log out</a>
                {% endif %}
                -->
                {% if 'username' in session %}
                    <button><a href="{{ url_for('logout') }}">log out</a></button>
                {% else %}
                    <a href="{{ url_for('welcome') }}">log in</a>
                {% endif %}
            <li>User Data</li>
            <hr></hr>
            <li> user class? : {{ user }}</li>
            <li>first name :  </li>
            <li>last name : </li>
            <li>username :  </li>
            <li>email :  </li>
            <li>password :  </li>
        </ul>
    </div>
    
{% endblock %}