{% extends 'layout.html' %}

{% block head %}
    <title>
        Welcome {{ session['first_name'] }}
    </title>
{% endblock %}

{% block content1 %}
    <div>
        <ul>
            <li>user logged in?</li>
                {% if not session.logged_in %}
                    <a href="{{ url_for('welcome') }}">log in</a>
                {% else %}
                    <a href="{{ url_for('logout') }}">log out</a>
                {% endif %}
            <li>User Data</li>
            <hr></hr>
            <li>first name : {{ session['first_name'] }} </li>
            <li>last name : {{ session['last_name'] }}</li>
            <li>username : {{ session['username'] }} </li>
            <li>email : {{ session['email'] }} </li>
            <li>password : {{ session['password'] }} </li>
        </ul>
    </div>
    
{% endblock %}