{% extends 'layout.html' %}

{% block head %}
    <title>
        Welcome {{ session['username'] }}
    </title>
{% endblock %}

{% block content1 %}
    <div>
        <ul>
            <li>user logged in?</li>
                <!--
                {% if not session.logged_in %}
                    <a href="{{ url_for('welcome') }}">log in</a>
                {% else %}
                    <a href="{{ url_for('logout') }}">log out</a>
                {% endif %}
                -->
                {% if 'username' in session %}
                    <a href="{{ url_for('logout') }}">log out</a>
                {% else %}
                    <a href="{{ url_for('welcome') }}">log in</a>
                {% endif %}
            <li>User Data</li>
            <hr></hr>
            <li> user class? : {{ user }}</li>
            <li>first name :  </li>
            <li>last name : </li>
            <li>username :  </li>
            <li>email :  </li>
            <li>password :  </li>
        </ul>
    </div>
    
{% endblock %}